.background{
  background-color: rgb(0, 0, 0);
}

.container{
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 520px;
  height:350px;
  background: white;
  box-shadow: 5px 5px 15px rgba(24, 135, 186, 0.5);
  border-radius: 10px;
  align-items: center;
  top:100px;

}

img{
  width: 290px;
  margin-top: 0px;;
}

p{
  font-size: 0.6em;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
}

h1{
  font-size: 1.2em;
  color: #4e4e4e;
  margin-top: -5px;
}

.cat{
  position: absolute;
  width: 40%;
  height: 100%;
  top: 10px;
  left: 60%;
}

.desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: #4e4e4e;
  font-size: .7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}