* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.container {
  background-color: rgb(154, 130, 130);
  color: black;
  text-align: center;
  padding: 25, 25;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding:0 30px;
  margin: 20px;
  border-radius: 10px;
}

.description-card {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding:30px;
  margin: 20px;
  border-radius: 10px;
  background-color: white;
}

.description-card-title h3 {
  font-size: 1.5rem;
}

.description-card-image {
  height: 200;
  width: 100%;
  margin: 1rem 0;
}

.description-card-image img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=btn] {
  background-color: #722946;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 19px;
  border-radius: 30px;
  transition: .3s;
  display: flex;
  justify-content: space-around;
  margin-top: 8%;
  cursor: pointer;
}

.link-btn {
  background-color: #722946;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 5px 5px;
  border-radius: 40px;
  transition: .3s;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  cursor: pointer;
  margin-bottom: 4.1rem;
  width:200px;
  font-size: 20px;
}

button[type=update] {
  background-color: #722946;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 19px;
  border-radius: 30px;
  transition: .3s;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

li {
  padding: 0 20px;
    height: 40px;
    display: inline-block;
    line-height: 32px;
    /* background: #722946; */
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all .30s;
    border: 3px solid #722946;
    margin-right: 10px;
    margin-top: 20px;
   
}

input[placeholder="Enter Users Name"] {
  padding: 0 20px;
  height: 40px;
  display: inline-block;
  line-height: 32px;
  color: #722946;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all .30s;
  border: 3px solid #722946;
  margin-right: 50px;
  /* margin-top: 20px; */
  /* margin-left: 800px; */
  margin-left: 1000px;
  margin-bottom: 20px;
}

.link-btn-user {
  text-decoration: none;
  color: #722946;
}

li.footer_element{
  color: black;
}

footer{
  text-align: center;
}